@import "../../node_modules/bootstrap/scss/bootstrap";

.test {
    display: flex;
    padding: 80px;
  }

  // To get rid of the dotpoints and padding of the cards so its all aligned to the righthttps://www.w3schools.com/howto/howto_css_list_without_bullets.asp  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }