@import "../../node_modules/bootstrap/scss/bootstrap";
//  "~bootstrap/scss/bootstrap";
//  "~bootstrap-icons/font/bootstrap-icons";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
// @import url("~./fonts/bootstrap-icons.woff");

body {background-color: #F7F5F4;}


.test {
    display: flex;
    padding: 80px;
  }

  // To get rid of the dotpoints and padding of the cards so its all aligned to the righthttps://www.w3schools.com/howto/howto_css_list_without_bullets.asp  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.acronym::first-letter {
  color: red;
}

